.experto-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #2e2e2e; /* Un fondo oscuro que combine */
}

.titulo {
  font-size: 1.2em;
  font-weight: bold;
  color: #a8a8a8; /* Un gris claro para el título */
  margin-bottom: 10px;
}

.descripcion {
  font-size: 0.9em;
  color: #b8b8b8; /* Un gris un poco más claro para la descripción */
  line-height: 1.5;
  max-width: 400px; /* Evita que el texto se estire demasiado */
  margin: 0 auto 15px; /* Centra el párrafo */
}

.contador-container {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

.horas-acumuladas {
  color: #4caf50; /* El color verde del progreso */
}

.progress-bar-background {
  width: 100%;
  height: 20px;
  background-color: #555555; /* Fondo de la barra de progreso */
  border-radius: 10px;
  overflow: hidden; /* Asegura que la barra de progreso no se salga */
}

.progress-bar-foreground {
  height: 100%;
  background-color: #4caf50; /* Color verde para el progreso */
  border-radius: 10px;
  transition: width 0.5s ease-in-out; /* Transición suave */
}
